<div class="authincation h-100 modal-utils js-modal-accept-reservation">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form" id="modal-accept-reservation-form">
                                <h4 class="text-center mb-4">Book a table</h4>

                                <div id="error_change_pass">
                                    
                                </div>
                                
                                <form action="/change-password" method="post">
                                    <div class="form-group">
                                        <label class="mb-1" for="table_name"><strong>The table</strong></label>
                                        <input type="text" class="form-control" placeholder="Table name..." name="table_name" id="table_name" required>
                                    </div>
                                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                    <input type="hidden" name="id" id="accept-reservation-form-id">
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-primary btn-block" id="js-request-change-password">Book</button>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button class="btn btn-primary-2 btn-block" id="js-close-modal-accept-reservation">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>