<!--**********************************
    Sidebar start
***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/product-list">Order List</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i>
                    <span class="nav-text">Persons</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/register">Register a staff</a></li>
                </ul>
                <ul aria-expanded="false">
                    <li><a href="/list-user">User list</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-television"></i>
                    <span class="nav-text">Apps</span>
                </a>
                <ul aria-expanded="false">
                        <li><a href="/product-list">Product List</a></li>
                        <li><a href="/product-list">Order</a></li>
                    </li>
                </ul>
            </li>
        </ul>
    
        <div class="add-menu-sidebar">
            <img src="/images/icon1.png" alt=""/>
            <p>Organize your menus through button bellow</p>
            <a href="/add-fd" class="btn btn-primary btn-block light">+ Add Menus</a>
        </div>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->