<!--**********************************
    Sidebar start
***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/product-list">Analytics</a></li>
                    <li><a href="/product-list">Review</a></li>
                    <li><a href="/product-list">Order</a></li>
                    <li><a href="/product-list">Order List</a></li>
                    <li><a href="/product-list">General Customers</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-television"></i>
                    <span class="nav-text">Apps</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/product-list">Profile</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                        <ul aria-expanded="false">
                            <li><a href="/product-list">Compose</a></li>
                            <li><a href="/product-list">Inbox</a></li>
                            <li><a href="/product-list">Read</a></li>
                        </ul>
                    </li>
                    <li><a href="/product-list">Calendar</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Shop</a>
                        <ul aria-expanded="false">
                            <li><a href="/product-list">Product Grid</a></li>
                            <li><a href="/product-list">Product List</a></li>
                            <li><a href="/product-list">Order</a></li>
                            <li><a href="/product-list">Checkout</a></li>
                            <li><a href="/product-list">Invoice</a></li>
                            <li><a href="/product-list">Customers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-controls-3"></i>
                    <span class="nav-text">Charts</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/product-list">Flot</a></li>
                    <li><a href="/product-list">Morris</a></li>
                    <li><a href="/product-list">Chartjs</a></li>
                    <li><a href="/product-list">Chartist</a></li>
                    <li><a href="/product-list">Sparkline</a></li>
                    <li><a href="/product-list">Peity</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-internet"></i>
                    <span class="nav-text">Bootstrap</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/product-list">Accordion</a></li>
                    <li><a href="/product-list">Alert</a></li>
                    <li><a href="/product-list">Badge</a></li>
                    <li><a href="/product-list">Button</a></li>
                    <li><a href="/product-list">Modal</a></li>
                    <li><a href="/product-list">Button Group</a></li>
                    <li><a href="/product-list">List Group</a></li>
                    <li><a href="/product-list">Media Object</a></li>
                    <li><a href="/product-list">Cards</a></li>
                    <li><a href="/product-list">Carousel</a></li>
                    <li><a href="/product-list">Dropdown</a></li>
                    <li><a href="/product-list">Popover</a></li>
                    <li><a href="/product-list">Progressbar</a></li>
                    <li><a href="/product-list">Tab</a></li>
                    <li><a href="/product-list">Typography</a></li>
                    <li><a href="/product-list">Pagination</a></li>
                    <li><a href="/product-list">Grid</a></li>

                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-heart"></i>
                    <span class="nav-text">Plugins</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/product-list">Select 2</a></li>
                    <li><a href="/product-list">Nestedable</a></li>
                    <li><a href="/product-list">Noui Slider</a></li>
                    <li><a href="/product-list">Sweet Alert</a></li>
                    <li><a href="/product-list">Toastr</a></li>
                    <li><a href="/product-list">Jqv Map</a></li>
                </ul>
            </li>
            <li><a href="/product-list" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-settings-2"></i>
                    <span class="nav-text">Widget</span>
                </a>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i>
                    <span class="nav-text">Forms</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/product-list">Form Elements</a></li>
                    <li><a href="/product-list">Wizard</a></li>
                    <li><a href="/product-list">Summernote</a></li>
                    <li><a href="/product-list">Pickers</a></li>
                    <li><a href="/product-list">Jquery Validate</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-network"></i>
                    <span class="nav-text">Table</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/product-list">Bootstrap</a></li>
                    <li><a href="/product-list">Datatable</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/product-list">Register</a></li>
                    <li><a href="/product-list">Login</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                        <ul aria-expanded="false">
                            <li><a href="/product-list">Error 400</a></li>
                            <li><a href="/product-list">Error 403</a></li>
                            <li><a href="/product-list">Error 404</a></li>
                            <li><a href="/product-list">Error 500</a></li>
                            <li><a href="/product-list">Error 503</a></li>
                        </ul>
                    </li>
                    <li><a href="/product-list">Lock Screen</a></li>
                </ul>
            </li>
        </ul>
    
        <div class="add-menu-sidebar">
            <img src="/images/icon1.png" alt=""/>
            <p>Organize your menus through button bellow</p>
            <a href="/add-fd" class="btn btn-primary btn-block light">+ Add Menus</a>
        </div>
        <div class="copyright">
            <p><strong>Eatio - Restaurant Admin Dashboard</strong> © 2020 All Rights Reserved</p>
            
        </div>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->