<div class="authincation h-100" style="margin-top: 160px;">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <h4 class="text-center mb-4">Sign in your account</h4>

                                {{#if hasErrors}}
                                    {{#each messages}}
                                        <p style="margin-bottom: 20px; margin-top: -10px; color: red">* {{this}}</p>
                                    {{/each}}
                                {{/if}}

                                <form action="/" method="post">
                                    <div class="form-group">
                                        <label class="mb-1" for="username"><strong>Username</strong></label>
                                        <input type="text" class="form-control" name="username" id="username" placeholder="Username..." required>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1" for="password"><strong>Password</strong></label>
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Password..." required>
                                    </div>
                                    <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox ml-1">
                                                <input type="checkbox" class="custom-control-input" id="basic_checkbox_1">
                                                <label class="custom-control-label" for="basic_checkbox_1">Remember my preference</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <a href="page-forgot-password.html">Forgot Password?</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block">Sign Me In</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>